@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');

html {
  height: 100%;
}

body {
  background-color: #ffe8df;
  font-family: 'Metrophobic', sans-serif;
}

.container-fluid {
  height: 100vh;
}

/* Home page*/
@keyframes float {
	0% {
		box-shadow: -14px 14px 37px 0px rgba(0, 0, 0, 1);
		transform: translatey(0px);
	}
	50% {
		box-shadow: -14px 20px 37px 0px rgba(0, 0, 0, 1);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: -14px 14px 37px 0px rgba(0, 0, 0, 1);
		transform: translatey(0px);
	}
}

.homeAbout {
  background-color: #888888;
  color: white;
  box-shadow: -14px 14px 37px 0px rgba(0, 0, 0, 1);
  transform: translatey(0px);
	animation: float 8s ease-in-out infinite;
}

/* Menu Bar */
.navbar-brand {
  color: black;
}

.navbar-brand:hover {
  color: black;
  text-decoration: underline;
}

.nav-link {
  color: black;
  margin-left: 0;
  padding-left: 0;
}
.nav-link:hover {
  color: black;
  text-decoration: underline;
}