@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');


/* general */

html {
  height: 100%;
}

body {
  background-color: #ffe8df;
  font-family: 'Metrophobic', sans-serif;
}

.container-fluid {
  height: 100vh;
  padding-right: 12px;
}


/* Home page*/
@keyframes float {
	0% {
		box-shadow: -14px 14px 37px 0px rgba(0, 0, 0, 1);
		transform: translatey(0px);
	}
	50% {
		box-shadow: -14px 20px 37px 0px rgba(0, 0, 0, 1);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: -14px 14px 37px 0px rgba(0, 0, 0, 1);
		transform: translatey(0px);
	}
}

.homeAbout {
  background-color: #888888;
  color: white;
  box-shadow: -14px 14px 37px 0px rgba(0, 0, 0, 1);
  transform: translatey(0px);
	animation: float 8s ease-in-out infinite;
}

.about-text {
  font-size: 3.5vw;
}

.home-skills h1{
  font-size: 3vw;
}

/* Menu Bar */

.navbar-brand {
  color: black;
  font-size: 2.25vw;
}
.navbar-brand:hover{
  color: black;
  transform: translatey(0px);
}

.underlined:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.underlined:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.nav-link {
  color: black;
  margin-left: 0;
  padding-left: 0;
  font-size: 2vw;
}

.nav-link:hover{
  color: black;
  /* box-shadow: -14px 14px 37px 0px rgba(0, 0, 0, 1); */
  transform: translatey(0px);
}

/* Contact Page */
.contact {
  background-color: #888888;
  color: white;
  box-shadow: -14px 14px 37px 0px rgba(0, 0, 0, 1);
}

.contactBlurb {
  background-color: #f0f0f0;
  color: black;
}

.contactBlurb-text h2 {
  font-size: 3.5vw;
  padding-bottom: 0.6em;
}

.contactBlurb-text p {
  font-size: 2.5vw;
}

.contactBlurb-text li {
  font-size: 2.5vw;
  padding-left: 11em;
  padding-bottom: 0.6em;
}

.form-group{
  padding-bottom: 2em;
}

.form-control-lg{
  border-radius: 0em;
}